{
  "presets": [
    ["env", {
      "targets": {
        "node": "current", // run babel against current node version
        // "chrome": "60", // target a specific chrome version
      },
    }],
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
  //"plugins": ["react-hot-loader/babel"],
}
